[build]
builder = "dockerfile"

[deploy]
healthcheckPath = "/system/health"
healthcheckTimeout = 60
healthcheckInterval = 5
startCommand = ""

[environment]
PYTHONUNBUFFERED = "true"
ENVIRONMENT = "production"
PORT = "8000"
