[build]
builder = "dockerfile"

[deploy]
healthcheckPath = "/system/health"
healthcheckTimeout = 60
healthcheckInterval = 5
startCommand = ""

[environment]
PYTHONUNBUFFERED = "true"
ENVIRONMENT = "production"
PORT = "8000"

[[services]]
name = "backend"
builder = "dockerfile"
dockerfile = "backend.Dockerfile"
startCommand = ""

[[services]]
name = "frontend"
builder = "dockerfile"
dockerfile = "frontend.Dockerfile"
port = 3000

[[services.domains]]
name = "aurora-frontend"

